{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>{{ post.category.first }}</h4>
                            <h2>{{ post.title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Banner Ends Here -->




    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">

                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="{{ post.image.url }}" alt="">
                                    </div>
                                    <div class="down-content">

                                        <a href="#"><h4>{{ post.title }}</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">{{ post.author.username }}</a></li>
                                            <li><a href="#">{{ post.created }}</a></li>
                                            <li><a href="#">{{ post.comments.count }} Comments</a></li>
                                        </ul>

                                        <p>{{ post.content }}</p>

                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        {% if request.user.is_authenticated %}
                                                            {% if is_like %}
                                                                <li><a href="{% url "post:like" post.slug post.pk %}"><i
                                                                        style="font-size: 20px"
                                                                        class="fa fa-heart"></i>{{ post.likes.all.count }}
                                                                </a>
                                                                </li>
                                                            {% else %}
                                                                <li><a href="{% url "post:like" post.slug post.pk %}"><i
                                                                        style="font-size: 20px"
                                                                        class="fa fa-heart-o"></i>{{ post.likes.all.count }}
                                                                </a>
                                                                </li>
                                                            {% endif %}
                                                        {% else %}
                                                            <li><a href="{% url "account_app:login" %}"><i
                                                                    style="font-size: 20px"
                                                                    class="fa fa-heart-o"></i>{{ post.likes.all.count }}
                                                            </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li><i class="fa fa-share-alt"></i></li>
                                                        <li><a href="#">Facebook</a>,</li>
                                                        <li><a href="#">Twitter</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                            <div class="col-lg-12">
                                <div class="sidebar-item comments">
                                    <div class="sidebar-heading">
                                        <h2>{{ post.comments.count }} comments</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            {% for comment in post.comments.all %}
                                                {% if comment.parent == None %}
                                                    <li>
                                                        <div class="author-thumb">
                                                            {% if comment.author.profile.image.url %}
                                                                <img src="{{ comment.author.profile.image.url }}"
                                                                     alt="">
                                                            {% else %}
                                                                <img src="{% static 'images/icons/images.jpg' %}"
                                                                     alt="">
                                                            {% endif %}
                                                        </div>
                                                        <div class="right-content">
                                                            <h4>
                                                                {% if comment.author.get_full_name %}
                                                                    {{ comment.author.get_full_name }}
                                                                {% else %}
                                                                    {{ comment.author.username }}
                                                                {% endif %}
                                                                <span>{{ comment.created }}</span>
                                                            </h4>
                                                            <p>{{ comment.body }}</p>
                                                            <button onclick="set_value({{ comment.id }})"
                                                                    class="comment-reply-btn ">reply
                                                            </button>
                                                        </div>
                                                    </li>

                                                    {% for reply in comment.replies.all %}
                                                        <li class="replied">
                                                            <div class="author-thumb">
                                                                {% if reply.author.profile.image.url %}
                                                                    <img src="{{ reply.author.profile.image.url }}"
                                                                         alt="">

                                                                {% else %}
                                                                    <img src="{% static 'images/icons/images.jpg' %}"
                                                                         alt="">
                                                                {% endif %}
                                                            </div>
                                                            <div class="right-content">
                                                                <h4>
                                                                    {% if reply.user.get_full_name %}
                                                                        {{ reply.author.get_full_name }}
                                                                    {% else %}
                                                                        {{ reply.author.username }}
                                                                    {% endif %}
                                                                    <span>{{ reply.created }}</span>
                                                                </h4>
                                                                <p>{{ reply.body }}</p>

                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            {% if request.user.is_authenticated %}
                                <div class="col-lg-12">
                                    <div class="sidebar-item submit-comment">
                                        <div class="sidebar-heading">
                                            <h2>Your comment</h2>
                                        </div>
                                        <div class="content">
                                            <form id="comment" action="#" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <input type="hidden" name="parent_id" id="parent_id" value="">
                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                        <textarea name="body" rows="6" id="body"
                                                                  placeholder="Type your comment"
                                                                  required=""></textarea>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                            <button type="submit" id="form-submit"
                                                                    class="main-button">Submit
                                                            </button>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <a href="{% url "account_app:login" %}" class="login-comment-btn">login to send a
                                    comment </a>
                            {% endif %}

                        </div>

                    </div>

                </div>

                {% include "includes/sidebar.html" %}

            </div>

        </div>

    </section>
    <script>
        function set_value(id) {
            document.getElementById("parent_id").value = id
            window.location.href = "#body"
        }

    </script>
{% endblock %}
